body
	{
		font-family: "Lucida Sans Unicode", 
		"Lucida Grande", sans-serif;
		background: url("../pics/tapeta.jpg");
		background-repeat: repeat;

	}



#lista
	{
		margin-top: 15px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.8em;
		padding-top: 6px;
		color: white;
		font-weight: bold;
		border: 2px solid black;
		border-radius: 10px;
		background-color: #3300cc;
		box-shadow: 0 0 20px #3f0c1f;
	}



#rzeczy
	{
		width: 75%;
	}

#stopka
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 1.3em;
		font-weight: bold;
	}




@media (max-width: 400px)
{
	#lista
		{
		font-size: 0.6em;
		}
}