

* {box-sizing: border-box;}



body
	{	
		background-color: black;
		font-family: helvetica, sans-serif;
	}
	

.header
	{ 
		color: white;
		font-size: 140%;
		font-style: italic;
		font-weight: 500;
		text-align: center;
	 }

.label1, .label2, .label3
	{
		width: 35%;
		float: right;
		margin: 0px;
		padding: 2px;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		border: 2px solid black;
	}

.label1
	{
	
		background-color: red;
		color: white;
	}

.label2 {
	
		background-color: yellow;
		color: black;
	}	

.label3
	{	

		background-color: pink;
		color: black;
	}  

.column1, .column2, .column3
	{
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: 200;
	}

.inside
	{
		background-color: grey;
		color: black;
		padding: 0px;
		margin: 10px;
		border: 2px solid white;	
	}

.core
	{
		clear: right;
		padding: 15px;
	}


@media (min-width: 992px)
{
	.column1, .column2, .column3
		{
			width: 33.3%;
			font-size: 25px;
			float: left;
		}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.column1, .column2
		{
			width: 50%;
			font-size: 20px;
			float: left;
		}

	.column3
		{
			clear: both;
			width: 100%;
			font-size: 20px;
			float: left;
		}
}

@media (max-width: 767px)
{
	.column1, .column2, .column3
		{
			margin-bottom: 20px;
			margin-top: 20px;
			width: 100%;
			font-size: 17px;
	
		}
}
