
body
	{
		font-family: "Lucida Sans Unicode", 
		"Lucida Grande", sans-serif;
		background: url("../pics/tapeta.jpg");
		background-repeat: repeat;

	}

@media (min-width: 768px) {
	.container-fluid>.navbar-header
		{	margin-right: -15px;
			margin-left: -15px;
		}
}

#header-nav
	{
		background-color: #333366;
		border-radius: 10px;
		padding-left: 0px;
	}



#navbar-brand
	{
		float: left;
		padding-left: 15px;
		margin-right: 0;
		font-size: 2em;
		width: 180px;
		font-weight: bold;
		text-decoration: none;
		color: #33ff00;
		padding-top: 0;
	}

#collapsable-nav
	{
		background-color: #00ffcc;

	}

#menuitem1, #menuitem2, #menuitem3
	{
		padding-top: 0;
		color: black;
		padding-bottom: 0;
		font-size: 1.1em;
	}

#menuitem1:hover, #menuitem2:hover, #menuitem3:hover
	{
		color: red;
	}


hr
	{
		width: 75%;
		margin-top: 5px;
		margin-bottom: 5px;
		border-top: 2px solid black;
	}

#zajawka
	{
		font-size: 3.2em;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #660033;
	}

#salad, #sushi, #chicken
	{
		color: #000066;
		font-size: 2.7em;
	}

.btn
	{
		margin-left: 10px;
		font-weight: bold;
	}

.spam
	{
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		border: 1px solid black;
		border-radius: 10px;
		background-color: #3300cc;
		box-shadow: 0 0 20px #3f0c1f;
		color: white;
	}

#stopka
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 1.3em;
		font-weight: bold;
	}