<!DOCTYPE html>
<html lang="en" ng-app="Aplikacja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawel Banasiewicz</title>

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

   </head>

<body ng-controller="Kontroler as k">

 

<div class="container" id="linki">
<div class="row">
<div class="col-md-3 col-sm-3 col-xs-6 text-center" id="ikonka1">
<a href ng-click="k.nuta();">
<img src="{{k.soundIcon}}" alt="cisza/dzwiek">
</a><br><p>{{k.soundText}}</p>
</div>

<div class="col-md-3 col-sm-3 col-xs-6 text-center" id="ikonka">
<a href="http://www.youtube.com" target="_blank">
<img src="pics/ikona1.png" alt="ikona1">
</a><br><p>jutub</p>
</div>

<div class="col-md-3 col-sm-3 col-xs-6 text-center" id="ikonka">
<a href="http://www.koncertomania.pl" target="_blank">
<img src="pics/ikona2.png" alt="ikona2">
</a><br><p>koncertomania</p>
</div>

<div class="col-md-3 col-sm-3 col-xs-6 text-center" id="ikonka">
<a href="https://pl.wikipedia.org/wiki/Telefon" target="_blank">
<img src="pics/ikona3.png" alt="ikona3">
</a><br><p>telefon</p>
</div>
</div>

</div>

  <div class="container text-center" id="header">
  <p id="guzik">SUPER EKSTRA STRONA TEGO JEGO v. -16.01</p>

    <div class="container text-center" id="elementy">
    <img class="dead" src="pics/dead.png" alt="dead">
    <div ng-hide="k.wejscie">
    <p id="inputs">podaj login:</p><input type="text" ng-model="k.login">
    <p id="inputs">podaj hasło:</p><input type="password" ng-model="k.haslo"><br>
    <button id="guzik" ng-click="k.dodaj();">ZALOGUJ</button>
    </div>

    <div class="container" id="spis" ng-show="k.wejscie">
    <komponent  
    rzeczy="k.lista" 
    tytul="jesteś zalogowany - kupuj!" 
    wywal="k.wywal()">
    </komponent>
    <p>.........................</p>
    </div>

<div class="container tribute text-center">Icons made by <a href="http://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
</div>


<div id="stopka" class="container text-center">
      &copy; TEGO-JEGO 2017
</div>

  		<script src="js/jquery-3.1.1.min.js"></script>
  		<script src="js/bootstrap.min.js"></script>
  		<script src="js/angular.min.js"></script>
  		<script src="js/skrypt.js"></script>

</body>
</html>