
<p>{{ $ctrl.tytul }}</p>

<a class="logout" href ng-click="$ctrl.remove();">
<img src="pics/logout.png" alt="cisza/dzwiek">
<br><p>wyloguj się</p></a>

<div class="licznik text-center">kupiłeś<br>
{{$ctrl.Kupilim.length}} szt.<br>
za {{$ctrl.cena}} PLN</div>


<div class="kupilem table-responsive">
<table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nazwa numeru</th>
      <th>Rok powstania</th>
      <th>Cena</th>
	</tr>
	</thead>
 <tbody>
 <tr ng-repeat="thing in $ctrl.ListaZapasowa">

 	<td>{{ $index + 1 }}</td>
 	<td>{{ thing.nazwa }}</td>
 	<td>{{ thing.ilosc }}</td>
 	<td>{{ thing.cena }}</td>
 	<td><button class="btn btn-xs" 
 	ng-click="$ctrl.kup($index, thing);">To biorę!</button></td>
 </tr>
 </tbody>
 </table>
 </div>
 <button id="guzik" class="text-center finalizacja"
 ng-click="$ctrl.zamow();">ZAMÓW MUZĘ</button>

<div class="zamowienie container text-center">
ZROBIONE! - SPRAWDŹ SWOJE<br>
ZAMÓWIENIE<br>
<img src="pics/thumb.png" alt="thumb up"><br>
<div id="kupione" class="container">
<h>ZAMÓWIONE POZYCJE</h>
<ul class="ery list-unstyled">
<li ng-repeat="pozycja in $ctrl.Kupilim">
== {{ pozycja. nazwa }}
</li>
KOSZT CAŁKOWITY {{ $ctrl.cena + " PLN" }}
</ul>

</div>
</div>

<div class="blad container text-center">
<br>GROSZEM TO TY NIE ŚMIERDZISZ....</div><br>

<div class="container zamowienie text-center">
<p id="inputs">podaj nr karty:</p>
<input type="text" ng-model="$ctrl.cc">
<br>
<button id="guzik" ng-click="$ctrl.karta();">
KUPUJ!</button>
</div>

<button id="guzik" ng-click="$ctrl.reseta();">
RESETUJ ZAKUPY</button>


