

<div class="container text-center naszolapie" id="chunk-content" ng-show="k.oferujta">


<div class="container">
<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-sm-8">
<div class="slowo-ofertowe">Dobry projekt jest pierwszym i jednym z najważniejszych kroków na drodze 
do stworzenia i urządzenia mieszkania lub domu zgodnego z osobistymi potrzebami i upodobaniami klientów.<br>
 Proszę, zapoznaj się z moją ofertą.</div>
</div>
</div>



<div class="row">

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/target.png" alt="target">

		<a class="offerstajl oferbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(0);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> nasz cel </a>
		</div>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/plan.png" alt="target">

		<a class="offerstajl offerbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(1);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> planowanie </a>
		</div>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/concept.png" alt="target">

		<a class="offerstajl offerbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(2);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> koncepcja </a>
		</div>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/eye.png" alt="target">

		<a class="offerstajl offerbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(3);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> wizualizacja </a>
		</div>
	</div>



	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/project.png" alt="target">

		<a class="offerstajl offerbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(4);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> projekt </a>
		</div>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/helmet.png" alt="target">

		<a class="offerstajl offerbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(5);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> nadzór </a>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/done.png" alt="target">

		<a class="offerstajl offerbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(6);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> finalizacja </a>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 offerpanel">
		<div class="offer-paddle">

		<img class="thum" src="sources/media/icons/wallet.png" alt="target">

		<a class="offerstajl offerbutton" ng-audio-hover="sources/media/sounds/bzzz.mp3"
		 volume-hover="0.3" ng-click="k.goForIt(7);"
		 ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8"> wydatki </a>
		</div>
	</div>
	
</div>

<div class="row">
<div class="col-md-5 col-sm-7 col-xs-11 cytacik">
Moja działalność powstała niejako z powołania i potrzeby serca. Pragnęłam, aby na rynku pojawiła się firma, która stawi czoło indywidualnym potrzebom każdego z Klientów. Dom, w którym mieszkasz to twoja prywatna strefa, w której masz czuć się komfortowo. To Twoje drugie ja, odzwierciedlenie Twojej duszy. To ma być wnętrze, w którym czujesz się najlepiej,
a ja mam spełniać rolę doskonałego przewodnika w buszu miliona możliwości.
</div>
</div>

</div>

<button id="ikonka1" ng-click="k.nuta(1);">

<img ng-src="{{k.soundIcon}}" alt="muzyka/bezmuzy">
</button>

<button id="ikonka2" ng-click="k.nuta(2);">
<img ng-src="{{k.soundShutUp}}" alt="w swiecie ciszy">
</button>



<!-- Modal -->
<div class="modal fade" id="okienkoOfert" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">

 <div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-9 col-sm-offset-1 col-xs-11 modal-content">
 <div class="modal-header">
  <p class="modaltitlepad"> {{ k.particularOffer.title }} </p>
 </div>
  <div class="row modal-body">
 
      <div class="col-sm-8 offerphoto">
      		<img ng-src="{{k.particularOffer.photo}}" class="img-responsive img-rounded borderyzm" alt="photo">
      </div>

      <div class="col-sm-6 offertext modaltresc">
        <p> {{ k.particularOffer.maintext }} </p>
        <br>
        <br>
      <div class="col-sm-9" ng-if="k.particularOffer.listExistance">
           	<ul>
          		<li ng-repeat="position in k.particularOffer.list | filter:search">
            		{{ position }}
          		</li> 
      		</ul>
      </div>
      </div>

   </div> 


 <a class="byemodalbutton" ng-click="k.die();" data-dismiss="modal"
  ng-audio-hover="sources/media/sounds/modalhover.wav" volume-hover="0.7" 
  ng-audio="sources/media/sounds/rocker-switch.wav" volume="0.8" aria-label="Close">
  <img src="sources/media/icons/goodbyemodal.png">
  </a>


 </div>
</div>