<!DOCTYPE html>
<html lang="en" ng-app="Apka">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawel Banasiewicz</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
   </head>

   <body ng-controller="Kontroler as dupa">


   		<div class="container">
   			<p id="cozjemy" class="text-center">DON'T YOU EAT TO MUCH?</p>
      </div>
   				<div id="pytanie" class="container text-center">
   					WHAT ARE YOU GOING TO EAT TODAY?</div>
   				<div id="przycisk" class="container text-center">
   					<input type="text" ng-model="dupa.MenuForToday"><br>
   					<button class="btn btn-info" ng-click="dupa.krzyknij();">
					CHECK IT OUT!
					</button><br>
				</div>
			<div id="{{dupa.styl}}" class="text-center container-fluid">{{dupa.odpowiedz}}</div>
      <ul>
        <div id="przycisk" class="container text-center">
        SORTOWANIE
        <input type="text" ng-model="dupa.filtr"><br>
        </div>
        <li id="rzeczy" class="container" ng-repeat="rzecz in dupa.lista | filter : dupa.filtr">{{$index +1}} {{rzecz + " ty huju    "}}
            <button ng-click="dupa.wywal($index);">
          WYWAL
          </button>
        </li>
      </ul>

  
    
    

		<div id="stopka" class="container text-center">
    	&copy; ///// P ///// 2017
  		</div>

  		<script src="js/jquery-3.1.1.min.js"></script>
  		<script src="js/bootstrap.min.js"></script>
  		<script src="js/angular.min.js"></script>
  		<script src="js/skrypt.js"></script>
  	</body>
</html>