<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDown">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawel Banasiewicz</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
   </head>

<body>
   <div class="container">
   <div ng-controller="NarrowItDownController as narrow">
   <input type="text" ng-model="narrow.content"
   placeholder="enter some data here">
   <button ng-click="narrow.check();">Narrow It Down For Me</button>
   
   <p ng-hide="narrow.found.length>0">{{ narrow.comment }}</p>

   <found-items ng-show="narrow.found.length>0" 
   found="narrow.found" 
   remove="narrow.remove(index)"></found-items>


   </div>

		<div id="stopka" class="container text-center">
    	&copy;  2017
  	</div>

    </div>

  		<script src="js/jquery-3.1.1.min.js"></script>
  		<script src="js/bootstrap.min.js"></script>
  		<script src="js/angular.min.js"></script>
  		<script src="js/skrypt.js"></script>

</body>
</html>