
 <div id="lista">
 <table class="table">
  <div class="container" id="rzeczy">
    <thead>
    <tr>
      <th>#</th>
      <th>Short name</th>
      <th>Meal</th>
      <th>Description</th>
	</tr>
	</thead>
 <tbody>
 <tr ng-repeat="thing in found">

 	<td>{{ $index + 1 }}</td>
 	<td>{{ thing.short_name }}</td>
 	<td>{{ thing.name }}</td>
 	<td>{{ thing.description }}</td>
 	<td><button class="btn btn-warning btn-xs" 
 	ng-click="remove({index: $index});">Not this one</button></td>
 </tr>
 </tbody>
 </div>
 </table>
</div>
