<div class="container" id="chunk-content">


    <div class="col-xs-10 col-xs-offset-1 kontener3">
        <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 tekstpad kontener2">
        <div class="career-choose" ng-show="k.careerText">

        <div class="col-md-3 col-sm-6 centruj kontener4">
            <button class="btn btn-xs myButton" ng-click="k.flipPage(1);"
            ng-audio="sources/sounds/click.wav" volume="0.5">
            work</button>
        </div>

        <div class="col-md-3 col-sm-6 centruj kontener4">
            <button class="btn btn-xs myButton" ng-click="k.flipPage(2);"
            ng-audio="sources/sounds/click.wav" volume="0.5">
            education</button>
        </div>

        <div class="col-md-3 col-sm-6 centruj kontener4">
            <button class="btn btn-xs myButton" ng-click="k.flipPage(3);"
            ng-audio="sources/sounds/click.wav" volume="0.5">
            certificates</button>
        </div>

        <div class="col-md-3 col-sm-6 centruj kontener4">
            <button class="btn btn-xs myButton" ng-click="k.flipPage(4);"
            ng-audio="sources/sounds/click.wav" volume="0.5">
            languages</button>
        </div>

        </div>
        </div>
    </div>

        <div class="kontener4">
            <div class="col-xs-10 col-xs-offset-1 tekstpad kontener2">
            <div class="mehaalomahn black-mamba" ng-show="k.work">
            <p class="centruj-title">CAREER</p>
            <ul>
            <li><div class="penelope"> 
                <p class="noMargins">07.2018 - 09.2019 eTravel SA – IATA Travel Agency </p>
                <p class="noMargins">Travel Agent, Key customers service - GDS Amadeus and Galileo / team management, cooperation with business partners</p>
            </div> </li>
                
            <li><div class="penelope"><p class="noMargins">11.2017 - 05.2018 Furnel Travel International – IATA Travel Agency </p>
                <p class="noMargins">Head of flight tickets department  - GDS Amadeus / team management, cooperation with business partners   </p>
            </div></li>
            <li><div class="penelope"><p class="noMargins">01.2017 - 08.2017 HRG Polska Shared Service Center </p>
                <p class="noMargins">Refund specialist - GDS Amadeus / refunding and reissuing tickets from HRG European branches </p>
            </div></li>
            <li><div class="penelope"><p class="noMargins">02.2002 - 10.2016 Royal Club Sp. z o.o. - IATA Travel Agency </p>
                <p class="noMargins">Corporate Travel Agent, Office Manager  - GDS Amadeus / group and individual flight reservations, team management</p>
            </div></li>
                
            <li><div class="penelope"><p class="noMargins">08.2000 - 01.2002 Student Club sp. z o.o. - IATA Travel Agency </p>
                <p class="noMargins">Travel Agent          - GDS Amadeus / group and individual flight reservations</p>
            </div></li>           
                
            <li><div class="penelope"><p class="noMargins">05.1999 - 07.2000 INT Express Sp. z o.o. - IATA Travel Agency</p> 
                <p class="noMargins">Corporate Travel Agent - GDS Amadeus / group and individual flight reservations</p> 
            </div></li>    
                
            <li><div class="penelope"><p class="noMargins">11.1997 - 04.1999 INT Express Sp. z o.o. - IATA Travel Agency </p>
                <p class="noMargins">Computer Network Administrator  - Novell network servicing / technical helpdesk</p>
            </div></li>
            
            </ul>
            </div>
            </div>
        </div>

        <div class="kontener4">
            <div class="col-xs-10 col-xs-offset-1 tekstpad kontener2">
            <div class="mehaalomahn black-mamba" ng-show="k.education">
            <p class="centruj-title">EDUCATION</p>
            <ul>
            <li><div class="penelope"> 
                <p class="noMargins">09.1990 - 06.1994 Secondary School – XXVII LO im. T. Czackiego</p>
                <p class="noMargins">Classes with extended math, physics and informatics (Pascal, C++)</p>
            </div> </li>
                
            <li><div class="penelope"><p class="noMargins">10.1997 - 11.2003 Warsaw University</p>
                <p class="noMargins">Journalism and Social Communication</p>
                <p class="noMargins">Master Degree</p>
            </div></li>
            </ul>
            </div>
            </div>
        </div>

        <div class="kontener4">
            <div class="col-xs-10 col-xs-offset-1 tekstpad kontener2">
            <div class="mehaalomahn black-mamba" ng-show="k.certificates">
            <p class="centruj-title">CERTIFICATES</p>
            <ul>
            <li><div class="penelope"><p class="noMargins">Novell Network Administrator</p>
                <p class="noMargins">Novell (1997)</p>
            </div> </li>
                
            <li><div class="penelope"><p class="noMargins">IATA Flight Fares Certificate</p>
                <p class="noMargins">Polish Airlines LOT (1998)</p>
            </div></li>
            <li><div class="penelope"><p class="noMargins">Amadeus Ticketing and Reservation System</p>
                <p class="noMargins">Amadeus Polska (2001)</p>
               
            <li><div class="penelope"><p class="noMargins">HTML, CSS and Javascript for Web Developers</p>
                <p class="noMargins">John Hopkins University / Coursera.org (2017)</p>
            </div></li>           
                
            <li><div class="penelope"><p class="noMargins">Travelport Galileo Convertion</p> 
                <p class="noMargins">Galileo Polska (2019)</p> 
            </div></li>        
            </ul>
            </div>
            </div>
        </div>

        <div class="kontener4">
            <div class="col-xs-10 col-xs-offset-1 tekstpad kontener2">
            <div class="mehaalomahn black-mamba" ng-show="k.languages">
            <p class="centruj-title">LANGUAGES</p>
            <ul>
            <li><div class="penelope"><p class="noMargins">POLISH</p>
                <p class="noMargins">Native</p>
            </div> </li>
                
            <li><div class="penelope"><p class="noMargins">ENGLISH </p>
                <p class="noMargins">Fluent</p>
            </div></li>
            <li><div class="penelope"><p class="noMargins">RUSSIAN</p>
                <p class="noMargins">Intermediate</p>
            </div></li>
            <li><div class="penelope"><p class="noMargins">SPANISH</p>
                <p class="noMargins">Beginner</p>
            </div></li>           
            </ul>
            </div>
            </div>
        </div>

</div>





