<!DOCTYPE html>
<html lang="en" ng-app="Aplikacja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawel Banasiewicz</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
   </head>

  <body>
  <div class="container text-center" id="header">
    NAUKA KOMPONENTÓW - podejście setne +00

    <div class="container text-center" id="elementy" 
    ng-controller="Kontroler as k">
    <p id="inputs">żarcie</p><input type="text" ng-model="k.jedzenie">
    <p id="inputs">ilość</p><input type="text" ng-model="k.ilosc"><br>
    <button id="guziczek" ng-click="k.dodaj();">DODAJ</button>

    <div id="spis" ng-show="k.lista.length>0">
    <komponent  
    rzeczy="k.lista" 
    tytul="TWOJA LISTA" 
    wywal="k.wywal(index)">
    </komponent>
    <p>.........................</p>
    </div>

<div>Icons made by <a href="http://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
</div>

<div class="container">
<div class="col-md-4 col-sm-12 col-xs-12 text-center" id="ikonka">
<a href="http://www.zalukaj.tv" target="_blank">
<img src="pics/ikona1.png" alt="ikona1">
</a>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 text-center" id="ikonka">
<a href="http://www.onet.pl" target="_blank">
<img src="pics/ikona2.png" alt="ikona1">
</a>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 text-center" id="ikonka">
<a href="http://www.orange.pl" target="_blank">
<img src="pics/ikona3.png" alt="ikona1">
</a>
</div>
</div>

<div id="stopka" class="container text-center">
      &copy;  2017
</div>

  		<script src="js/jquery-3.1.1.min.js"></script>
  		<script src="js/bootstrap.min.js"></script>
  		<script src="js/angular.min.js"></script>
  		<script src="js/skrypt.js"></script>

</body>
</html>